.wrapper{
    height:75%;
    width: 30%;
    background-color: rgb(182, 178, 178);
    border-radius: 10px;
    position: relative;
    display: flex;
    border: 10px solid black;
   

}


.display{
    
    width: 80%;
    height: 20%;
    margin: 10px auto;
    background-color: white;
    float: top;
    display: flex;
    justify-content: right;
    align-items:flex-end;
    border-radius: 5%;
    border: 10px solid black;

}
.numbers{
    margin: 5px;
    font-size:40pt;
}

.operation{
    font-size: 40pt;
    width: 40px;
    border: solid 5px black;
    text-align: center;
    border-radius: 30%;
}

.operationCalculate{
    font-size: 40pt;
    width: 40px;
    border: solid 5px black;
    text-align: center;
    border-radius: 30%;
}



.keypad{
   
    position: absolute;
    top: 75;
    bottom: 0;
    height: 75%;
    width: 90%;
    margin-left: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.number{
    font-size: 40pt;
    width: 40px;
    border: solid 5px black;
    text-align: center;
    border-radius: 30%;
}

.otherBtns{
    font-size: 20pt; 
    width: 40px;
    border: solid 5px black;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-radius: 10;
    border-radius: 30%;

}



