.wrapper{
    height:75%;
    width: 30%;
    background-color: rgb(182, 178, 178);
    border-radius: 10px;
    display: flex;
    border: 10px solid black;
    flex-direction: column;

}

.mainKeypadAndExtraButtons{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 80%;
}


.display{
    width: 80%;
    height: 20%;
    margin: 10px auto;
    background-color: white;
    float: top;
    display: flex;
    justify-content: right;
    align-items:flex-end;
    border-radius: 5%;
    border: 10px solid black;

}
.numbers{
    margin: 5px;
    font-size:40pt;
}

.operation{
    font-size: 40pt;
    width: 40px;
    border: solid 5px black;
    text-align: center;
    border-radius: 30%;
}

.operationCalculate{
    font-size: 40pt;
    width: 40px;
    border: solid 5px black;
    text-align: center;
    border-radius: 30%;
}



.keypad{
  
    height: 100%;
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.number{
    font-size: 40pt;
    width: 40px;
    border: solid 5px black;
    text-align: center;
    border-radius: 30%;
}

.otherBtns{
    font-size: 20pt; 
    width: 40px;
    border: solid 5px black;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-radius: 10;
    border-radius: 30%;

}

.divisionAndDecimalPoint{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#/{
    height:70%;
}

